<body>

    <%- include('navbar.ejs')  %>
  
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  
  
  <h1> Details</h1>
  
  <table class="table table-hover table-bordered" width="70%">
    <thead>
      <tr>
        <th>Room No</th>
        <th>Student Name</th>
        <th>Reg No</th>
      </tr>
    </thead>
    <tbody>
      <% rooms.forEach(function(room) { %>
        <tr>
          <td><%= room.room_no %></td>
          <td placeholder="hello"><a href="/admin/user-details/?id=<%= room.student_reg_no %>"><%= room.student_allocated %><a></td>
          <td><%= room.student_reg_no %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
  

    
  </main>
  </body>