<body class="g-sidenav-show   bg-gray-100">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
  <div class="min-height-300 bg-gradient-danger position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" target="_blank">
        
        <span class="ms-1 font-weight-bold">Admin Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <%- include('navbar.ejs') %>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Recently Allocated</h6>
              <button class="btn btn-warning" onclick="generatePDF('recentAll')">Download List</button>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="recentAll">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Student Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Reg No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dept</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Percentage
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Hostel
                        Allocated</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Room No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% present.forEach(function(student) { %>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="../assets/img/default-profile.png" class="avatar avatar-sm me-3" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6>
                                <%= student.name %>
                              </h6>

                            </div>
                          </div>
                        </td>
                        <td>
                          <h6>
                            <%= student.reg_no %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.dept %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.percentage %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.hostel_allocated.hostel_name %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.hostel_allocated.room_no %>
                          </h6>
                        </td>

                      </tr>
                      <% }); %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Previously Allocated</h6>
              <button class="btn btn-warning" onclick="generatePDF('prevAll')">Download List</button>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0" id="prevAll">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Student Name</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Reg No</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Dept</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Percentage
                      </th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Hostel
                        Allocated</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Room No</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% past.forEach(function(student) { %>
                      <tr>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div>
                              <img src="../assets/img/default-profile.png" class="avatar avatar-sm me-3" alt="user1">
                            </div>
                            <div class="d-flex flex-column justify-content-center">
                              <h6>
                                <%= student.name %>
                              </h6>

                            </div>
                          </div>
                        </td>
                        <td>
                          <h6>
                            <%= student.reg_no %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.dept %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.percentage %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.hostel_allocated.hostel_name %>
                          </h6>
                        </td>
                        <td>
                          <h6>
                            <%= student.hostel_allocated.room_no %>
                          </h6>
                        </td>

                      </tr>
                      <% }); %>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>




      </div>
      </main>

      <!--   Core JS Files   -->
      <script src="/assets/js/core/popper.min.js"></script>
      <script src="/assets/js/core/bootstrap.min.js"></script>
      <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/chartjs.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>

      <script>
        // Function to download the PDF for a specific table ID

        date = new Date()
          let day = date.getDate();
          let month = date.getMonth() + 1;
          let year = date.getFullYear();

          // This arrangement can be altered based on how we want the date's format to appear.
          let currentDate = `${day}/${month}/${year}`;

        function generatePDF(tableId) {
          const tableData = [];
          const table = document.getElementById(tableId);

          const rows = table.querySelectorAll('tr');
          rows.forEach((row) => {
            const cells = [];
            const tableCells = row.querySelectorAll('th, td');
            tableCells.forEach((cell) => {
              const content = cell.textContent.trim(); // Remove leading and trailing whitespace
              if (content !== '') {
                cells.push(content);
              }
            });


            tableData.push(cells);
          });

          console.log(tableData)

          const docDefinition = {
            content: [
              {
                text: `Allocated Students ${currentDate}\n\n`,
                style: 'subheader',
                alignment: 'center', // Center align the header text
              },


              {
                table: {
                  headerRows: 1,
                  body: tableData,
                  widths: ["*", "*", "*", "*", "*", "*"]
                },
                layout: {
                  // Set the row height to auto
                  fillColor: function (i, node) {
                    return i % 2 === 0 ? '#F0F0F0' : null; // Alternate row colors
                  },
                },
              },
              {
                text: "\n\nHostel Management System 2023",
                style: 'footer',
                alignment: 'center', // Center align the header text
              },
              
            ],
            styles: {
              header: {
                fontSize: 18,
                bold: false,
                margin: [0, 5, 0, 15]
              },
              subheader: {
                fontSize: 16,
                bold: false,
                margin: [0, 10, 0, 5]
              },
              footer: {
                fontSize: 12,
                bold: false,
                margin: [0, 10, 0, 5]
              }
            },
          };

          

          pdfMake.createPdf(docDefinition).download(`${currentDate}_allocation_list.pdf`);
        }
      </script>

      <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
      </script>
      <!-- Github buttons -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>