<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-gradient-danger position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" target="_blank">
        
        <span class="ms-1 font-weight-bold">Student Dashboard</span>
      </a>
      <style>
        /* Hide scrollbar */
        textarea::-webkit-scrollbar {
          width: 0;
        }

        /* Show scrollbar thumb on hover */
        textarea:hover::-webkit-scrollbar {
          width: 8px;
        }

        /* Scrollbar track */
        textarea::-webkit-scrollbar-track {
          background-color: #f1f1f1;
        }

        /* Scrollbar thumb */
        textarea::-webkit-scrollbar-thumb {
          background-color: #888;
          width: 8px;
        }

        /* Scrollbar thumb on hover */
        textarea::-webkit-scrollbar-thumb:hover {
          background-color: #555;
        }
      </style>
    </div>
    <hr class="horizontal dark mt-0">
    <%- include('navbar.ejs') %>

  </aside>

  <!-- Navbar -->

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header pb-0">
            <h6>Complaints table</h6>

          </div>
          <% if (complaintList.length===0) { %>
            <h4 class="text-center p-5"> No complaints to display</h4>
            <% } else { %>

              <div class="card-body px-0 pt-0 pb-2">
                <div class="table-responsive p-0">
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-start text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                          Hostel</th>
                        
                        <th class="text-start  text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Submitted
                          by</th>
                        <th class="text-start  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                          Registration No</th>
                          <th class="text-start  text-secondary text-xxs font-weight-bolder opacity-7">Title</th>
                        <th class="text-start  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                          Description</th>
                        <th class="text-start  text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                          Status</th>
                          

                      </tr>
                    </thead>

                    <tbody>

                      <% complaintList.forEach(complaint=> { %>
                        <tr>
                          <td>
                            <div class="d-flex px-2 py-1">

                              <div class="d-flex flex-column justify-content-center">
                                <h6>
                                  <%= complaint.hostelName %>
                                </h6>

                              </div>

                            </div>
                          </td>
                          <td>
                            <h6 class="d-flex flex-column justify-content-center">
                              <%= complaint.submittedBy %>
                            </h6>
                            <p class="text-xs text-secondary mb-0"></p>
                          </td>
                          <td class="align-middle text-center">
                            <h6 class="d-flex flex-column justify-content-center">
                              <%= complaint.regNo %>
                            </h6>
                          </td>
                          <td class="align-middle text-center">
                            <h6 class="d-flex flex-column justify-content-center">
                              <%= complaint.title %>
                            </h6>
                          </td>
                          <td class="align-middle text-center">
                            <textarea class="form-control bg-white border-dark" rows="3"
                              readonly><%= complaint.description %></textarea>
                          </td>

                          <td class="align-middle text-center">
                            <h5 class="text-xs font-weight-bold mb-0">
                              <h6>
                                <%= complaint.status %>
                              </h6>
                            </h5>

                          </td>


                        </tr>

                        <% }) %>


                    </tbody>
                  </table>

                </div>
              </div>

              <% } %>
        </div>
      </div>
    </div>

    </>
  </div>
  <!--   Core JS Files   -->
  <script>



  </script>

  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>