<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-gradient-danger position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-4 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" 
        target="_blank">
        <img src="/assets/img/logo-ct-dark.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold">Admin Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <%- include('navbar.ejs') %>

      <div class="container-fluid py-4">
        <div class="row">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Student Data</h6>
            </div>

            <% if (userData.results.length===0) { %>
              <h4 class="text-center p-5">Users not found.</h4>
              <% } else { %>
                <div class="card-body px-0 pt-0 pb-2">
                  <div class="table-responsive p-0">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Email
                          </th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Phone No
                          </th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Hostel
                          </th>
                        </tr>
                      </thead>


                      <tbody>

                        <% if(userData.results.length> 0 )
                          {
                          for(i=0; i<userData.results.length ; i++){ %>
                            <tr>
                              <td>
                                <div class="d-flex px-2 py-1">
                                  
                                    <p class="fw-bold text-dark">
                                      <a href="/admin/user-details/?id=<%= userData.results[i].reg_no %>"><%= userData.results[i].name %></a>
                                    </p>
                                  
                                </div>
                              </td>
                              <td>
                                <p class="d-flex flex-column justify-content-center fw-bold text-dark text-lowercase">
                                  <%= userData.results[i].email %>
                                </p>
                              </td>
                              <td class="align-middle text-center">
                                <p class="d-flex flex-column justify-content-center fw-bold text-dark">
                                  
                                  <%= userData.results[i].phone %>
                                  </p>
                                
                              </td>

                              <td class="align-middle text-center" >
                                <p class="text-secondary text-xm font-weight-bold">
                                 
                                      <a href="/admin/hostel-details?id=<%= userData.results[i].hostel_allocated.hostel_name %>">
                                        <%= userData.results[i].hostel_allocated.hostel_name %></a>
                               
                                  
                                  </p>
                                

                              </td>

                            </tr>
                            <% } } else{ %>

                              <tr>
                                <td colspan="5">Users not found.</td>
                              </tr>

                              <% } %>
                                <% let totalPages; if (userData.results.length.capacity % 10==0) {
                                  totalPages=userData.results.length.capacity / 10; } else {
                                  totalPages=Math.floor(userData.results.length / 10) + 1; } %>

                                  
                      </tbody>
                    </table>

                    <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-center">
                                      <% for (let i=1; i <=totalPages; i++) { %>
                                        <li class="page-item"><a class="page-link"
                                            href="/admin/dashboard/users-list?page=<%= i %>">
                                            <%=i%>
                                          </a></li>
                                        <% } %>

                                    </ul>
                                  </nav>
                  </div>
                </div>
                <% } %>

          </div>

        </div>

      </div>

      </div>
      </main>

      <!--   Core JS Files   -->
      <script src="/assets/js/core/popper.min.js"></script>
      <script src="/assets/js/core/bootstrap.min.js"></script>
      <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/chartjs.min.js"></script>
      <script>
        var ctx1 = document.getElementById("chart-line").getContext("2d");

        var gradientStroke1 = ctx1.createLinearGradient(0, 230, 0, 50);

        gradientStroke1.addColorStop(1, 'rgba(94, 114, 228, 0.2)');
        gradientStroke1.addColorStop(0.2, 'rgba(94, 114, 228, 0.0)');
        gradientStroke1.addColorStop(0, 'rgba(94, 114, 228, 0)');
        new Chart(ctx1, {
          type: "line",
          data: {
            labels: ["Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
            datasets: [{
              label: "Mobile apps",
              tension: 0.4,
              borderWidth: 0,
              pointRadius: 0,
              borderColor: "#5e72e4",
              backgroundColor: gradientStroke1,
              borderWidth: 3,
              fill: true,
              data: [50, 40, 300, 220, 500, 250, 400, 230, 500],
              maxBarThickness: 6

            }],
          },
          options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
              legend: {
                display: false,
              }
            },
            interaction: {
              intersect: false,
              mode: 'index',
            },
            scales: {
              y: {
                grid: {
                  drawBorder: false,
                  display: true,
                  drawOnChartArea: true,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  padding: 10,
                  color: '#fbfbfb',
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
              x: {
                grid: {
                  drawBorder: false,
                  display: false,
                  drawOnChartArea: false,
                  drawTicks: false,
                  borderDash: [5, 5]
                },
                ticks: {
                  display: true,
                  color: '#ccc',
                  padding: 20,
                  font: {
                    size: 11,
                    family: "Open Sans",
                    style: 'normal',
                    lineHeight: 2
                  },
                }
              },
            },
          },
        });
      </script>
      <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
      </script>
      <!-- Github buttons -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>