<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-gradient-danger position-absolute w-100"></div>
  <aside
    class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-4 fixed-start ms-4 "
    id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none"
        aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" target="_blank">
        
        <span class="ms-1 font-weight-bold">Admin Dashboard</span>
      </a>
    </div>
    <hr class="horizontal dark mt-0">
    <%- include('navbar.ejs') %>



      <!-- Navbar -->

      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card border shadow-lg mb-4">
              <div class="card-header text-center">
                <h5 class="p-2"> User Details </h5>
              </div>

              <div class="table-responsive">
                <table class="table table-hover table-bordered text-center">
                  <tbody class="text-dark">
                    <% userData.forEach(function(user) { if (user) { %>
                      <tr>
                        <td><strong>Name</strong></td>
                        <td>
                          <%= user.name %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Email</strong></td>
                        <td class="text-lowercase">
                          <%= user.email %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Registration No.</strong></td>
                        <td>
                          <%= user.reg_no %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Phone</strong></td>
                        <td>
                          <%= user.phone %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Department</strong></td>
                        <td>
                          <%= user.dept %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Semester</strong></td>
                        <td>
                          <%= user.semester %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Guardian Name</strong></td>
                        <td>
                          <%= user.guardian_name %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Guardian Phone</strong></td>
                        <td>
                          <%= user.guardian_phone %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Address</strong></td>
                        <td>
                          <%= user.address %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Gender</strong></td>
                        <td>
                          <%= user.gender %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Hostel Name</strong></td>
                        <td>
                          <% if (user.hostel_allocated) { %>
                            <%= user.hostel_allocated.hostel_name %>
                              <% } %>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Room No.</strong></td>
                        <td>
                          <% if (user.hostel_allocated) { %>
                            <%= user.hostel_allocated.room_no %>
                              <% } %>
                        </td>
                      </tr>
                      <tr></tr>
                      <% } %>
                        <% }); %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </main>

      <!--   Core JS Files   -->
      <script src="/assets/js/core/popper.min.js"></script>
      <script src="/assets/js/core/bootstrap.min.js"></script>
      <script src="/assets/js/plugins/perfect-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/smooth-scrollbar.min.js"></script>
      <script src="/assets/js/plugins/chartjs.min.js"></script>

      <script>
        var win = navigator.platform.indexOf('Win') > -1;
        if (win && document.querySelector('#sidenav-scrollbar')) {
          var options = {
            damping: '0.5'
          }
          Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
        }
      </script>
      <!-- Github buttons -->
      <script async defer src="https://buttons.github.io/buttons.js"></script>
      <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
      <script src="/assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>