<body>

    <%- include('navbar.ejs')  %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <!-- EJS template code for hostel-details page -->
<h1><%= hostel.name %> Details</h1> <br>
<!-- <img src="/hostelImages/<%#= hostel.name %>.jpg" alt="Hostel Image" width="200px" height="120px"> -->
<br>
<p><strong>Address:</strong> <%= hostel.address %></p>
<p><strong>Contact:</strong> <%= hostel.contact %></p>
<p><strong>Type:</strong> <%= hostel.type %></p>
<p><strong>Capacity:</strong> <%= hostel.capacity %></p>
<p><strong>Vacancy:</strong> <%= hostel.vacancy %></p>


</main>
</body>