
<body>

    <%- include('navbar.ejs')  %>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  
        <h1>Warden Details</h1>
        <ul>
          <li>Name: <%= warden.name %></li>
          <li>Email: <%= warden.email %></li>
          <li>Phone: <%= warden.phone %></li>
          <li>Address: <%= warden.address %></li>
          <li>Hostel Name: <%= warden.hostel_name %></li>
        </ul>

    </main>
    
    
  </body>
  
  